@model IEnumerable<PruebaGym2.Models.Rutina>

@{
    ViewData["Title"] = "Rutinas";
}

<h1>Rutinas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear un nuevo</a> 
    <a asp-action="VerRutinasYEjercicios" class="btn btn-success">Ver Rutinas y Ejercicios</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRutina)
            </th>
            <th>
                Calificación Promedio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoRutina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalificacionPromedio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdRutina" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdRutina" class="btn btn-secondary">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdRutina" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
