@model IEnumerable<PruebaGym2.Models.Responsable>

@{
    ViewData["Title"] = "Index";
}

<h1>Responsable</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear un nuevo responsable</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.idResponsable" class="btn btn-primary">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.idResponsable" class="btn btn-secondary">Detalles</a> 
                    <a asp-action="Delete" asp-route-id="@item.idResponsable" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
