@model PruebaGym2.Models.Ejercicio

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Ejercicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEjercicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEjercicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionEjercicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionEjercicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMaquinaId)
        </dt>
        <dd class="col-sm-10">
            @if (Model.TipoMaquina != null)
            {
                @Html.DisplayFor(model => model.TipoMaquina.NombreTipo)
            }
            else
            {
                <span>No lleva máquina</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEjercicio" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
